.config/i3/scripts/mountscript
.config/i3/scripts/umountscript
.config/i3/mystuff
.config/niri/scripts/mountscript
.config/niri/scripts/umountscript
.config/niri/scripts/chvt
.config/hypr/scripts/mountscript
.config/hypr/scripts/umountscript
