spawn-at-startup "waybar"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "playerctld"
spawn-at-startup "waypaper" "--restore"
spawn-at-startup "copyq"
spawn-at-startup "/usr/lib/polkit-kde-authentication-agent-1"
spawn-at-startup "hypridle"
spawn-at-startup "kdeconnect-indicator"
spawn-at-startup "tilda" "--dbus"
spawn-at-startup "sunshine"
spawn-at-startup "waytrogen" "-r"
spawn-at-startup "obs" "--startreplaybuffer" "--minimize-to-tray" "--disable-shutdown-check"
spawn-at-startup "floorp" "-p" "4play" "--headless"
spawn-at-startup "ags" "run"

spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP=niri"
spawn-at-startup "systemctl" "--user" "restart" "xdg-desktop-portal"
spawn-at-startup "systemctl" "--user" "import-environment" "QT_QPA_PLATFORM" "QT_STYLE_OVERRIDE" "QT_QPA_PLATFORMTHEME" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"

prefer-no-csd
screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

workspace "browser"
workspace "secondary"
workspace "main"
workspace "extra"
workspace "scratchpad"

environment {
    DISPLAY ":1";
	QT_QPA_PLATFORM "wayland;xcb"
    QT_STYLE_OVERRIDE "kvantum"
    QT_QPA_PLATFORMTHEME "qt6ct"
	XDG_CURRENT_DESKTOP "niri"
}

input {
    keyboard {
        xkb {
			layout "us"
        }	
		repeat-rate 50
		repeat-delay 300
    }

    touchpad {
        tap
        natural-scroll
    }

    mouse {
        accel-profile "flat"
    }

}

hotkey-overlay {
    skip-at-startup
}

output "HDMI-A-1" {
    mode "1280x800@59.910"
    scale 1
    transform "normal"
    position x=0 y=0
	backdrop-color "#313244"
}

output "HDMI-A-4" {
	mode "1920x1080"
	position x=1280 y=0
	scale 1
	focus-at-startup
	backdrop-color "#313244"

}

layout {
    gaps 20
    center-focused-column "never"
    preset-column-widths {
        proportion 0.33333
        proportion 0.5
        proportion 0.66667
    }

    default-column-width { proportion 0.5; }
    focus-ring {
        width 5
        active-color "#7fc8ff"
        inactive-color "#505050"
    }

    border {
        off

        width 4
        active-color "#ffc87f"
        inactive-color "#505050"
    }

    shadow {
        on
        softness 25
        spread 2
        offset x=0 y=0
        color "#202020"
    }
}

animations {
    workspace-switch {
        spring damping-ratio=0.9 stiffness=400 epsilon=0.00001
    }

    window-open {
        duration-ms 400
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=0.88 stiffness=450 epsilon=0.00001
    }

    window-movement {
        spring damping-ratio=0.9 stiffness=500 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    screenshot-ui-open {
        duration-ms 400
        curve "ease-out-expo"
    }
}
window-rule {
	match app-id="floorp"
	match app-id="discord"
	open-maximized true
}

window-rule {
    match app-id="Tilda"
    open-floating true
    default-floating-position x=0 y=12 relative-to="top"
}

window-rule {
    match app-id="^osu!$" is-focused=true
    match app-id="^gamescope$" is-focused=true
	match app-id="^Rythm Game$" is-focused=true

    allow-tearing true
}

window-rule {
    match app-id="^Tilda$"
	focus-ring {
		off
	}
    open-floating true
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    match app-id=r#"floorp$"# title="^Picture-in-Picture$"
	match title="CopyQ"
	match title="Volume Control"
	match app-id="nm-connection-editor"
	match app-id="org.kde.dolphin"
	match app-id="org.gnome.Characters"
	match app-id="satty"
	match app-id="xdg-desktop-portal-gtk"
	match app-id="org.gnome.Calculator"
    open-floating true
}

window-rule {	
	match app-id=r#"Waydroid*"#
	open-fullscreen true
}

window-rule {
    match app-id=r#"^org\.keepassxc\.KeePassXC$"#
    match app-id=r#"^org\.gnome\.World\.Secrets$"#
	match app-id="^vesktop$"
	match app-id="^floorp$" title=r#"^Extension:\s\(Bitwarden.*$"#

    block-out-from "screen-capture"

}

window-rule {
	draw-border-with-background false
	tiled-state true
    geometry-corner-radius 10
    clip-to-geometry true
}

window-rule {
	match is-floating=true
	shadow {
		on
		softness 22
		spread 4
		color "#3a89e5"
	}
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
		off
    }

    border {
		on
		width 5
		active-color "#f38ba8"
        inactive-color "#f38ba8"

    }

    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}

window-rule {
	match is-window-cast-target=true is-floating=true

    shadow {
		on
        softness 100
        spread 2
        color "#7d0d2d70"
    }
}

window-rule {
	match is-active=false
	opacity 0.9
	    background-effect {
        blur true
	}
}

window-rule {
	match is-floating=true is-focused=false
	opacity 0.3
	    background-effect {
        blur false
	}
}

layer-rule {
    match namespace="^notifications$"

    block-out-from "screencast"
}

binds {
	// Keybind for tilda (terminal)
	Super+Shift+T { spawn "tilda" "-T"; }

    // Mod-Shift-/, which is usually the same as Mod-?,
    // shows a list of important hotkeys.
    Mod+Shift+Slash { show-hotkey-overlay; }
	Mod+Alt+Tab { spawn "~/.config/niri/scripts/chvt"; }

	// something 
	Mod+Backslash { spawn-sh "niri msg action set-dynamic-cast-window --id $(niri msg --json pick-window | jq .id)"; }

	// AI generated bullshi
	// DOES NOT WORK WELL WITH WINDOW SLIDING ANIMTAIONS
	//
	// "send" sends a window to "scratchpad" named workspace, "toggle" toggles between
	// windows in scratchpad, "pull-all" pulls all windows from scratchpad and 
	// removes them from the list of windows
	// 
	// Putting a window on a column will remove it from scratchpad
	// ###################################
	Mod+S { spawn "~/.config/niri/scripts/niri-scratchpad" "send"; }
	Mod+Shift+S { spawn "~/.config/niri/scripts/niri-scratchpad" "toggle"; }
	Mod+Ctrl+S { spawn "~/.config/niri/scripts/niri-scratchpad" "pull-all"; }

    // Keybinds for running things.
	// ###################################

    Mod+Return { spawn "alacritty"; }
    Mod+Shift+D { spawn "fuzzel" "--list-executables-in-path"; }
    Mod+D { spawn "fuzzel"; }
    Super+Alt+L { spawn "hyprlock"; }
	Mod+T { spawn "floorp"; }
	Mod+Y { spawn-sh "discord & vesktop"; }
	Mod+Alt+Y { spawn "spotify-launcher" "--skip-update"; }
	Mod+Alt+V { spawn "copyq" "menu"; }
	Mod+0 { spawn "pavucontrol"; }
	Mod+Shift+E { spawn "dolphin"; }
	Mod+F10 { spawn "otd-gui"; }
	Mod+Shift+Period { spawn "gnome-characters"; }

	Mod+Period { spawn "rofimoji" "--selector" "fuzzel"; }
	
	// Dunst stuff
	// ###################################

	Mod+Alt+H { spawn "dunstctl" "history-pop"; }
	Mod+Ctrl+H { spawn "sh" "-c" "terminator -e 'dunstctl history;read -n 1 -s -r' & sleep 0.5; niri msg action toggle-window-floating; niri msg action set-window-height 600; niri msg action center-window"; }


	// Wayvnc stuff
	// ###################################

	Mod+F9 { spawn "sh" "-c" "wayvnc & sleep 1; wayvncctl output-set HDMI-A-1"; }
	Mod+Alt+F9 { spawn "killall" "wayvnc"; }


	// Media and Volume Controls
	// ###################################

    XF86AudioRaiseVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05+"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn "wpctl" "set-volume" "@DEFAULT_AUDIO_SINK@" "0.05-"; }
    XF86AudioMute        allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SINK@" "toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn "wpctl" "set-mute" "@DEFAULT_AUDIO_SOURCE@" "toggle"; }
	XF86AudioNext { spawn "playerctl" "next"; }
	XF86AudioPrev { spawn "playerctl" "previous"; }
	XF86AudioPlay { spawn "playerctl" "play-pause"; }
	XF86AudioPause { spawn "playerctl" "play-pause"; }


	// Focus (& quit) Keybinds
	// ###################################

    Mod+Q { close-window; }

    Mod+Left  { focus-column-left; }
    Mod+Down  { focus-window-down; }
    Mod+Up    { focus-window-up; }
    Mod+Right { focus-column-right; }
    Mod+J     { focus-column-left; }
    Mod+K     { focus-window-down; }
    Mod+L     { focus-window-up; }
    Mod+Semicolon     { focus-column-right; }

    Mod+Home { focus-column-first; }
    Mod+End  { focus-column-last; }
    Mod+Ctrl+Home { move-column-to-first; }
    Mod+Ctrl+End  { move-column-to-last; }

    Mod+Alt+Left  { focus-monitor-left; }
    Mod+Alt+Down  { focus-monitor-down; }
    Mod+Alt+Up    { focus-monitor-up; }
    Mod+Alt+Right { focus-monitor-right; }
    Mod+Alt+J     { focus-monitor-left; }
    Mod+Alt+K     { focus-monitor-down; }
    Mod+Alt+L     { focus-monitor-up; }
    Mod+Alt+Semicolon     { focus-monitor-right; }

	Mod+Shift+Q { focus-column-left; }
	Mod+Shift+W { focus-column-right; }
	Mod+Alt+Q { focus-monitor-left;}
	Mod+Alt+W { focus-monitor-right; }
	Mod+Shift+Alt+Q { move-column-to-monitor-left; }
	Mod+Shift+Alt+W { move-column-to-monitor-right; }


	// Keybinds for Moving Windows
	// ###################################
	
    Mod+Shift+Left  { move-column-left; }
    Mod+Shift+Down  { move-window-down; }
    Mod+Shift+Up    { move-window-up; }
    Mod+Shift+Right { move-column-right; }
    Mod+Shift+J     { move-column-left; }
    Mod+Shift+K     { move-window-down; }
    Mod+Shift+L     { move-window-up; }
    Mod+Shift+Semicolon     { move-column-right; }

    // Alternative commands that move across workspaces when reaching
    // the first or last window in a column.
    // Mod+J     { focus-window-or-workspace-down; }
    // Mod+K     { focus-window-or-workspace-up; }
    // Mod+Ctrl+J     { move-window-down-or-to-workspace-down; }
    // Mod+Ctrl+K     { move-window-up-or-to-workspace-up; }

    Mod+Shift+Alt+Left  { move-column-to-monitor-left; }
    Mod+Shift+Alt+Down  { move-column-to-monitor-down; }
    Mod+Shift+Alt+Up    { move-column-to-monitor-up; }
    Mod+Shift+Alt+Right { move-column-to-monitor-right; }
    Mod+Shift+Alt+J     { move-column-to-monitor-left; }
    Mod+Shift+Alt+K     { move-column-to-monitor-down; }
    Mod+Shift+Alt+L     { move-column-to-monitor-up; }
    Mod+Shift+Alt+Semicolon     { move-column-to-monitor-right; }


    // Moving Windows & Workspaces Between Monitors
	// ###################################

    Mod+Alt+BracketLeft { move-window-to-monitor-left; }
	Mod+Alt+BracketRight { move-window-to-monitor-right; }

    Mod+Shift+Alt+BracketLeft  { move-workspace-to-monitor-left; }
    Mod+Shift+Alt+BracketRight  { move-workspace-to-monitor-right; }

    Mod+Page_Down      { focus-workspace-down; }
    Mod+Page_Up        { focus-workspace-up; }
    Mod+U              { focus-workspace-down; }
    Mod+I              { focus-workspace-up; }
    Mod+Shift+U         { move-column-to-workspace-down; }
    Mod+Shift+I         { move-column-to-workspace-up; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+Page_Down { move-window-to-workspace-down; }

    Mod+Shift+Ctrl+U { move-workspace-down; }
    Mod+Shift+Ctrl+I   { move-workspace-up; }


	// Scroll Wheel Stuff
	// ###################################

    Mod+WheelScrollDown       { focus-workspace-down; }
    Mod+WheelScrollUp         { focus-workspace-up; }
    Mod+Ctrl+WheelScrollDown  { move-column-to-workspace-down; }
    Mod+Ctrl+WheelScrollUp    { move-column-to-workspace-up; }

    Mod+WheelScrollRight      { focus-column-right; }
    Mod+WheelScrollLeft       { focus-column-left; }
    Mod+Ctrl+WheelScrollRight { move-column-right; }
    Mod+Ctrl+WheelScrollLeft  { move-column-left; }

    // Usually scrolling up and down with Shift in applications results in
    // horizontal scrolling; these binds replicate that.
    Mod+Shift+WheelScrollDown      { focus-column-right; }
    Mod+Shift+WheelScrollUp        { focus-column-left; }
    Mod+Alt+WheelScrollDown { focus-monitor-right; }
    Mod+Alt+WheelScrollUp   { focus-monitor-left; }
    Mod+Shift+Alt+WheelScrollDown      { move-column-to-monitor-right; }
    Mod+Shift+Alt+WheelScrollUp        { move-column-to-monitor-left; }

	// Workspaces 
	// ###################################

    Mod+1 { focus-workspace 1; }
    Mod+2 { focus-workspace 2; }
    Mod+3 { focus-workspace 3; }
    Mod+4 { focus-workspace 4; }
    Mod+5 { focus-workspace 5; }
    Mod+6 { focus-workspace 6; }
    Mod+7 { focus-workspace 7; }
    Mod+8 { focus-workspace 8; }
    Mod+9 { focus-workspace 9; }
    Mod+Shift+1 { move-column-to-workspace 1; }
    Mod+Shift+2 { move-column-to-workspace 2; }
    Mod+Shift+3 { move-column-to-workspace 3; }
    Mod+Shift+4 { move-column-to-workspace 4; }
    Mod+Shift+5 { move-column-to-workspace 5; }
    Mod+Shift+6 { move-column-to-workspace 6; }
    Mod+Shift+7 { move-column-to-workspace 7; }
    Mod+Shift+8 { move-column-to-workspace 8; }
    Mod+Shift+9 { move-column-to-workspace 9; }

    // Alternatively, there are commands to move just a single window:
    // Mod+Ctrl+1 { move-window-to-workspace 1; }

    // Expel & Consume
	// ###################################

    Mod+Ctrl+J  { consume-window-into-column; }
    Mod+Ctrl+Semicolon { expel-window-from-column; }

    Mod+BracketLeft  { consume-or-expel-window-left; }
    Mod+Ctrl+Shift+J  { consume-or-expel-window-left; }
    Mod+Ctrl+Shift+Semicolon { consume-or-expel-window-right; }
    Mod+BracketRight { consume-or-expel-window-right; }


	// Resizing & Fullscreening
	// ###################################

    Mod+Minus { set-column-width "-10%"; }
    Mod+Equal { set-column-width "+10%"; }
    Mod+Shift+Minus { set-window-height "-10%"; }
    Mod+Shift+Equal { set-window-height "+10%"; }

    Mod+R { switch-preset-column-width; }
    Mod+Shift+R { switch-preset-window-height; }
    Mod+Ctrl+R { reset-window-height; }
    Mod+F { maximize-column; }
	Mod+M { maximize-window-to-edges; }
    Mod+Shift+F { fullscreen-window; }
	Mod+Alt+F { toggle-windowed-fullscreen; }


    // Center & Fill Column
	// ###################################

    Mod+Alt+C { expand-column-to-available-width; }
    Mod+C { center-column; }


	// Floating & Tabbed Layout
	// ###################################

    Mod+Shift+Space       { toggle-window-floating; }
    Mod+Space { switch-focus-between-floating-and-tiling; }

    Mod+W { toggle-column-tabbed-display; }


	// Screenshot
	// ###################################

    Print { screenshot; }
	Shift+Print { spawn "sh" "-c" "grim -g \"$(slurp)\" - | satty -f -"; }
    Ctrl+Print { screenshot-screen; }
    Alt+Print { screenshot-window; }


	// Genuinely no idea what this is
	// ###################################

    Mod+Escape allow-inhibiting=false { toggle-keyboard-shortcuts-inhibit; }


    // Logout & Power Menu
	// ###################################

    Mod+Backspace { spawn "~/.config/niri/scripts/logoutmenu.sh"; }
    Ctrl+Alt+Delete { quit; }

    // Powers off the monitors. To turn them back on, do any input like
    // moving the mouse or pressing any other key.
	// ###################################

    Mod+F1 { power-off-monitors; }

	Mod+Grave { spawn "obs-cmd" "replay" "save"; }
	Mod+Ctrl+Grave { spawn "obs-cmd" "recording" "toggle"; }
	
	// Overview keybind
	// ###################################
	Mod+O repeat=false { toggle-overview; }
	
	// Calc
	XF86Calculator { spawn "gnome-calculator"; }
}

recent-windows {
	// off
    debounce-ms 750

    open-delay-ms 150

    highlight {
        active-color "#7fc8ffff"
        urgent-color "#ff9999ff"
        padding 10
        corner-radius 10
    }

    previews {
        max-height 480
        max-scale 0.5
    }
    // Pre-select the "Output" scope when switching windows.
    binds {
        Alt+Tab         { next-window     scope="output"; }
        Alt+Shift+Tab   { previous-window scope="output"; }
        Alt+grave       { next-window     scope="output" filter="app-id"; }
        Alt+Shift+grave { previous-window scope="output" filter="app-id"; }
    }
}

overview {
    zoom 0.25
    backdrop-color "#262626"

    workspace-shadow {
        // off
        softness 40
        spread 10
        offset x=0 y=10
        color "#00000050"
    }
}

gestures {
    dnd-edge-view-scroll {
        trigger-width 30
        delay-ms 100
        max-speed 1500
    }

    dnd-edge-workspace-switch {
        trigger-height 50
        delay-ms 100
        max-speed 1500
    }

    hot-corners {
        // off
        top-left
        // top-right
        bottom-left
        // bottom-right
    }
}
